* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.brand-logo img {
    max-height: 100%;
}
.navbar-fixed nav {
    right:0;
}
.side-nav a.company-logo {
    width: 100%;
    height: auto;
}

.company-logo img {
    max-width: 100%;
    height: auto;
}
.with-sidenav > header, .with-sidenav > main, .with-sidenav > footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    .with-sidenav > header, .with-sidenav > main, .with-sidenav > footer {
        padding-left: 0;
    }
}

.bold {
    font-weight: bold;
}

